<span class="relative flex h-2 w-2 -translate-y-[1px]">
  <span
    class="absolute inline-flex h-full w-full animate-ping rounded-full bg-brand opacity-75"
  ></span>
  <span class="relative inline-flex h-2 w-2 rounded-full bg-brand"></span>
</span>
